.canvas {
  padding: 20px;

  &__title {
    color: gray;
  }
  
  &__body {
    padding-top: 10px;
  }

  canvas {
    border: 1px solid #27292c;
    background-color: #0c0c0c;

    &:focus {
      outline: none;
      border: 1px solid #50565e;
    }
  }

  &__log {
    font-size: 20px;
  }
}