.w-menu {
  height: 100%;
  list-style: none;
  display: flex;
  z-index: 2;

  li:hover {
    & > ul {
      display: block;
    }
  }

  ul {
    position: absolute;
    list-style: none;
    background-color: $dark-grey;
    display: none;
  }

  &__nav-link {
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
    color: transparentize($color: #ffffff, $amount: 0.2);

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}